{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Oops! (500)</h1>
        <p>Something went wrong on our side. Sorry about that!</p>
    </div>
{% endblock content %}